site_name: 'JumpServer API 文档'
site_url: 'https://docs.jumpserver.org'
site_author: '飞致云'
site_description: "JumpServer API 文档"

repo_name: 'jumpserver/jumpserver'
repo_url: 'https://github.com/jumpserver/jumpserver'
edit_uri: ''

theme:
  name: 'material'
  logo: 'img/logo.png'
  favicon: 'img/facio.ico'
  language: 'zh'
  palette:
    - scheme: default
      accent: 'red'
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      accent: 'red'
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
  font: false
  custom_dir: 'theme'
  icon:
    repo: fontawesome/brands/github

nav:
  - 免责声明: dev/api/disclaimer.md
  - 前言: dev/api/prologue_api.md
  - 认证方式:
    - 概述: dev/api/auth/auth.md
    - Session: dev/api/auth/session.md
    - Token: dev/api/auth/token.md
    - Private Token: dev/api/auth/private_token.md
    - Access Key: dev/api/auth/access_key.md
  - users:
    - users: dev/api/users/users.md
    - groups: dev/api/users/usergroups.md
  - assets:
    - assets: dev/api/assets/assets.md
    - nodes: dev/api/assets/nodes.md
    - authorization: dev/api/assets/authorization.md
  - accounts:
    - accounts: dev/api/accounts/accounts.md
    - accountsecrets: dev/api/accounts/accountsecrets.md
    - account_backup: dev/api/accounts/account_backup.md
    - change-secret-automations: dev/api/accounts/changepwd.md
    - account-backup-plans: dev/api/accounts/account_backup.md
  - ticket: dev/api/ticket/ticket.md
  - health: dev/api/health/health.md
  - terminal:
    - metrics: dev/api/terminal/metrics.md

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: ⚓︎
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.saneheaders
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  jumpserver:
    tag: v4.10.9
  search:
    separator: '[\s\-\.]+'
    language: 'zh'
    Content-Encoding: gzip
    boost: 100
  generator: false
  version:
    default: master
    provider: mike
  analytics:
    provider: google
    property: UA-147297392-3
  social:
    - icon: Bilibili_Logo_Blue
      link: https://space.bilibili.com/510493147?spm_id_from=333.337.0.0
    - icon: fontawesome/brands/github
      link: https://github.com/jumpserver
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/jumpserver/
    - icon: fontawesome/solid/envelope
      link: mailto:support@fit2cloud.com
    - icon: fontawesome/brands/skype
      link: tel://400-052-0755

extra_css:
  - css/extra.css
  - css/termynal.css
  - css/custom.css
  - stylesheets/extra.css

extra_javascript:
  - js/termynal.js
  - js/custom.js

copyright: Copyright &copy; 2014-2025 <a href="https://www.fit2cloud.com">杭州飞致云信息科技有限公司</a>, All Rights Reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备15023818号</a>
plugins:
    - search:
        lang:
          - en
          - ja
        separator: '[\s\-\.]+'
    - macros
